.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content { 
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #3260a8;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    }

.footer a{
    color: white;
}

.footer a:hover{
    color: #3bdde3;
    text-decoration: none;
}
.infoContact a{
    color: black;
}
.infoContact a:hover{
    color: #1c00d1;
    text-decoration: none;
    font-weight: bold;
}

.footer-title{
    font-family: 'Oxygen', sans-serif;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-light{
    background-color: white;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #1c00d1;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    margin-right: 7px;
    margin-left: 7px;
}
.navbar-light .navbar-nav{
    margin-right: 49px;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-item span{
    position: absolute;
    background: #01b4c457 none repeat scroll 0 0;
    font-family: 'Courgette', cursive;
    font-size: 40px;
}
.carousel-caption{
    position: absolute;
    top: -7%;
}
.btn{
    font-weight: 700;
}
.btn-primary{
    background-color: rgb(0, 86, 210);
    border-color: rgb(0, 86, 210);
}
#fgp{
    font-size: 70%;
    margin-top: 4px;
}
.form-row input{
    font-size: 1.3rem;
}
.form-row label{
    font-weight: bold;
}
.form-row{
    margin-bottom: 10px;
}

.form-title{
    margin-bottom:23px;
    margin-top:23px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
  }
  .form-control-lg{
      border-width: thin;
      border-style: double;
  }
  .btn{
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
  }
  .card{
      padding-left: 0;
      padding-right: 0;
  }
  /*contact info style*/
  .contact-info{
      margin-bottom: 20px;
      margin-top: 3px;
  }